<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" />
    <link rel="stylesheet" href="/css/galleria.css" type="text/css" />
    <script src="/bundled"></script>

</head>

<body>
    <button class="sidebar-toggle-btn" onclick="document.querySelector('.sidebar').classList.toggle('open')">☰</button>
    <!--[
        refactor functionality ->   <button class="scroll-to-top-btn" onclick="scrollToTopAndReset()">⬆️ Reset</button> 
    ]-->
    <div class="sidebar">
        <div class="sidebar-header"></div>
        <li class="folder-item" data-path="/">
            <span class="folder-spacer"></span>
            <a href="/" class="folder-link ">🏠<span class="folder-name">home</span></a>
        </li>
        <li class="folder-item" data-path="/">
            <span class="folder-spacer"></span>
            <a href="/mover?dir=/" class="folder-link ">📦<span class="folder-name">mover</span></a>
        </li>
        <div id="folder-tree-container"></div>
    </div>
    <div class="gallery-container">
        <div id="gallery" class="masonry" style="overflow: hidden">
            <div class="grid-sizer"></div>

        </div>
        <div id="loading" class="loading">Loading...</div>
    </div>
        <script src="/js/gallery.js"></script>
        <script>$(document).ready(function () { w(); m(); f(); v(); });</script>
</body>

</html>
